<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//myb atis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="userinfoMapper">
	<resultMap type="UserInfo" id="UserResultSet">
		<id property="userId" column="USERID"/>
		<id property="minihomeCode" column="MINIHOMECODE"/>
		<result property="userPwd" column="USERPWD"/>
		<result property="userName" column="USERNAME"/>
		<result property="userType" column="USERTYPE"/>
		<result property="userStatus" column="USERSTATUS"/>
		<result property="registerDate" column="RESISTERDATE"/>
		<result property="zat" column="POINT"/>
		<result property="reportCount" column="REPORTCOUNT"/>
	</resultMap>


	<insert id="insertUser" parameterType="UserInfo">
		INSERT INTO USERINFO
		VALUES(#{userId}, #{userPwd}, #{userName}, #{email}, #{phone}, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	<select id="checkRegister" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM USERINFO
		WHERE USERID = #{userId}
	</select>
	<select id="selectUser" parameterType="UserInfo" resultMap="UserResultSet">
		SELECT *
		FROM USERINFO
		WHERE USERID = #{userId}
	</select>
	<select id="myPageUser" parameterType="UserInfo" resultMap="UserResultSet">
		SELECT *
		FROM USERINFO
		WHERE USERID = #{userId}
	</select>
	<update id="updateUser" parameterType="UserInfo">
		UPDATE USERINFO
		SET USERPWD = #{userPwd}
		WHERE USERID = #{userId}
	</update>
	<select id="checkIdDup" parameterType="string" resultType = "_int">
		SELECT COUNT(*)
		FROM USERINFO
		WHERE USERID = #{userId}
	</select>
</mapper>